# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual environment
venv/
.env/
env/

# API keys / tokens
*.env
.env

# OS files
.DS_Store
Thumbs.db

# Vercel
.vercel

# Logs
*.log

# Temporary files
input_*.jpg
output_*.png

# IDE
.vscode/
.idea/
